name: Website Workflow

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      deploy-to-prod:
        description: "Deploy to GitHub Pages"
        default: false
        required: true
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build and Deploy
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          show-progress: false

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false
          version: 10

      - name: Setup node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: "./pnpm-lock.yaml"

      - name: Install node modules
        run: pnpm install --recursive --frozen-lockfile

      - name: Lint check
        if: ${{ inputs.deploy-to-prod != true }}
        run: pnpm lint

      - name: Format check
        if: ${{ inputs.deploy-to-prod != true }}
        run: pnpm format:check

      - name: Build
        run: pnpm build

      - name: Add .nojekyll file
        run: touch ./out/.nojekyll

      - name: Upload artifact
        if: github.event_name == 'push' || inputs.deploy-to-prod == true
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out

  deploy:
    name: Deploy to GitHub Pages
    if: github.event_name == 'push' || inputs.deploy-to-prod == true
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
